*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3A3A3A;
    --secondary-color: #787885;
    --button-color: #E02C6D;
    --yellow-color: #FB8200;
    --background-color: #0A0826;
    --white-color: #ffffff;
    --black-grey: #18191F;
    --black: #000000;
    --grey:#5E6366;

    --heading-size-52: 3.2rem;
    --card-title-28: 1.8rem;
    --price-size-24: 1.5rem;
    --title-size-16: 1rem;
    --description-size-14: 0.9rem;
    --featured-size-38: 2.4rem;

    --heading-weight-700: 700;
    --card-title-weight-600: 600;
    --card-weight-500: 500;
    --price-weight-400: 400;
}
header {
    padding: 0 170px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    align-items: center;
}
nav .nav-title {
    color: var(--primary-color);
    font-size: var(--card-title-28);
    font-weight: var(--heading-weight-700);
}
nav > ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 34px;
    font-size: var(--title-size-16);
    font-weight: var(--card-title-weight-600);
}
nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--title-size-16);
    font-weight: var(--card-title-weight-600);
}
nav img {
    margin-right: 30px;
    width: 20px;
}
/* =================
nav :end
================ */
/* ==============
banner start
============= */
.banner-container {
    display: flex;
    margin-top: 80px;
    gap: 100px;
    align-items: center;
}
.banner-content {
    width: 550px;
    padding-right: 200px;
}
.banner-title {
    color: var(--primary-color);
    font-size: var(--heading-size-52);
    font-weight: var(--heading-weight-700);
    font-family: Poppins;
}
.banner-description {
    color: var(--primary-color);
    font-size: var(--title-size-16);
    font-weight: var(--card-title-weight-600);
    margin-top: 16px;
}
.banner-container img {
    width: 100%;
}
.banner-button {
    background-color: var(--button-color);
    color: var(--white-color);
    border: 0;
    border-radius: 20px;
    padding: 10px 24px;
    margin-top: 16px;
}
/* ==============
banner End
============= */